/*cor-base (body e h2)*/
/*cor-fundo-img (figure)*/
/*cor-borda-img (figure)*/

:root{
    --cor-base: #00155c;
    --cor-baseh2: #00155c;
    --cor-fundo-img: #80b6fd;
    --cor-borda-img: #02c8eb;
     
}

body {
    color: var(--cor-base);
    font-family: "lucida Sans Unicode", "Lucida Grande", sans-serif ;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
h1{
    background-image: url(../IMG/sobre.jfif);
}
h2{
    color:var(--cor-baseh2);
    border-bottom: 2px groove #333333;
}
figure{
    background-color: var(--cor-fundo-img);
    border: 1px var(--cor-fundo-img);
    text-align: center;
}
figcaption{
    font-style: italic;
}