:root{
    --cor-base: #333333;
    --cor-menu: #036;
}


.sacola{
    background: url(IMG/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul{
    color: var(--cor-menu);
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

body{
    color: var(--cor-base);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: "Merriweather", serif;
}
